<div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableDataSrc">

        <ng-container mat matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let month">{{ month.Name }}</td>
        </ng-container>

        <ng-container matColumnDef="AverageDailyRainFall">
            <th mat-header-cell *matHeaderCellDef>Average Daily RainFall</th>
            <td mat-cell *matCellDef="let month">{{ month.AverageDailyRainFall }}</td>
        </ng-container>

        <ng-container matColumnDef="AverageMinimumTemperature">
            <th mat-header-cell *matHeaderCellDef>Average Minimum Temperature</th>
            <td mat-cell *matCellDef="let month">{{ month.AverageMinimumTemperature }}</td>
        </ng-container>

        <ng-container matColumnDef="AbsoluteMaximumTemperature">
            <th mat-header-cell *matHeaderCellDef>Absolute Maximum Temperature</th>
            <td mat-cell *matCellDef="let month">{{ month.AbsoluteMaximumTemperature }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
        <tr mat-row *matRowDef="let row; columns: tableCols"></tr>

    </table>
    <!-- <mat-paginator [pageSize]="3" [hidePageSize]="true"></mat-paginator> -->
</div>