<!-- <div class="container">
    <div class="row">
        <div class="col-md-6" style="background-image: url('../../assets/clouds.jpg');">
            <h3 class="text-center">You are currently in:</h3>
            <p class="text-center">
                Feels like in Degrees Farenheit: {{this.weatherData?.data.current_condition[0].FeelsLikeF}}
            </p>
            <p class="text-center">
                Feels like in Degrees Celsius: {{this.weatherData?.data.current_condition[0].FeelsLikeC}}
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Select City</h3>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
</div> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page-content p-3">
    <div class="col-lg">
        <div class="card card-weather">
            <div class="card-body">
                <div>
                    <h3> {{this.day}} </h3>
                    <p class="text-gray">
                        <span>{{this.weatherData?.data.weather[0].date}} </span>
                    </p>
                </div>
                <div class="d-flex">
                    <h4 class="display-3">{{this.weatherData?.data.current_condition[0].temp_C}}°C </h4>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="d-flex weakly-weather">
                    <div class="weakly-weather-item">
                        <p class="mb-1"> Humidity </p>
                        <i class="fa fa-tint"></i>
                        <p class="mb-0"> {{this.weatherData?.data.weather[0].hourly[0].humidity}}% </p>
                    </div>
                    <div class="weakly-weather-item">
                        <p class="mb-1"> Pressure </p>
                        <i class="fa fa-compass"></i>
                        <p class="mb-0"> {{this.weatherData?.data.weather[0].hourly[0].pressure}} </p>
                    </div>
                    <div class="weakly-weather-item">
                        <p class="mb-1"> Cloud Cover </p>
                        <i class="fa fa-cloud"></i>
                        <p class="mb-0"> {{this.weatherData?.data.weather[0].hourly[0].cloudcover}} </p>
                    </div>
                    <div class="weakly-weather-item">
                        <p class="mb-1"> Chance of Rain </p>
                        <i class="fa fa-umbrella"></i>
                        <p class="mb-0"> {{this.weatherData?.data.weather[0].hourly[0].chanceofrain}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>