<div class="row p-3">
    <div class="page-content col-xs-1 col-md">
        <h3>Current Weather</h3>
        <br>
        <div class="card card-weather">
            <div class="card-body">
                <div>
                    <h3> Today </h3>
                    <p class="text-gray">
                        <span>{{ this.day }} {{ this.weatherData?.data.weather[0].date }}</span>
                    </p>
                </div>
                <p class="current-weather">
                    <img class="small-img" src="../../assets/weather.png" alt="">
                    {{this.weatherData?.data.current_condition[0].temp_C}}°C
                </p>
                <div class="address">
                    <p class="text-gray">
                        <span>You are now in:</span>
                    </p>
                    <h4>{{ this.display_name }}</h4>
                </div>
            </div>
        </div>
        <br>
        <div class="cards">
            <!-- HUMIDITY -->
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="card-icon">
                        <i class="fa fa-tint fa-10x"></i>
                    </div>
                    <mat-card-title>
                        <h1> {{this.weatherData?.data.weather[0].hourly[0].humidity}}% </h1>
                    </mat-card-title>
                    <mat-card-subtitle><h5>Humidity</h5></mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <!-- Pressure -->
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="card-icon">
                        <i class="fa fa-compass fa-10x"></i>
                    </div>
                    <mat-card-title>
                        <h1> {{this.weatherData?.data.weather[0].hourly[0].pressure}} </h1>
                    </mat-card-title>
                    <mat-card-subtitle><h5>Pressure</h5></mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <!-- Cloud Cover -->
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="card-icon">
                        <i class="fa fa-cloud fa-10x"></i>
                    </div>
                    <mat-card-title>
                        <h1> {{this.weatherData?.data.weather[0].hourly[0].cloudcover}}% </h1>
                    </mat-card-title>
                    <mat-card-subtitle><h5>Cloud Cover</h5></mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <!-- Chance of Rain -->
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="card-icon">
                        <i class="fa fa-umbrella fa-10x"></i>
                    </div>
                    <mat-card-title>
                        <h1> {{this.weatherData?.data.weather[0].hourly[0].chanceofrain}}% </h1>
                    </mat-card-title>
                    <mat-card-subtitle><h5>Rain Chance</h5></mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
    <div class="page-content-dashboard col-xs-1 col-md">
        <h3>City Weather Dashboard</h3>
        <br>
        <app-scatter-plot [country]="country"></app-scatter-plot>
    </div>
</div>