h4 {
  font-weight: 400;
}

app-mat-table {
  text-align: -webkit-match-parent;
}

.button-div {
  justify-content: center;
}

/* svg {
  height: fit-content;
  width: 100%;
} */

.choose-filter {
  max-width: 40%;
}

.table {
  text-align: -webkit-center !important;
}

div.table {
  height: 30%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.form-select {
  width: 70%;
}

svg {
  width: 100%;
  height: 100%;
}

.svg-div {
  height: 100%;
  width: fit-content;
}

.filter-row {
  height: 100%;
}

@media screen and (min-width: 320px) {
  button {
    background-color: #0099ff;
    color: white;
    font-weight: 550;
    border-radius: 0.7rem;
  }
}
@media screen and (min-width: 1204px) {
  button {
    max-width: 40%;
    background-color: #0099ff;
    color: white;
    font-weight: 550;
    border-radius: 0.7rem;
  }
}
