<h3>Choose city</h3>
<select [ngModel]="selectedCity" class="form-select" (ngModelChange)="onChange($event)" name="sel2" >
    <option *ngFor="let choice of this.cities">{{choice}}</option>
</select>
<br />
<h5 *ngIf="selectedCity" >{{selectedCity}}'s History</h5>
<app-mat-table *ngIf="data.length != 0" [data]="data"></app-mat-table>
<br />
<h5 *ngIf="selectedCity" >Please choose a filter</h5>
<div *ngIf="selectedCity" class="col">
    <div class="row">
        <button mat-raised-button (click)="onClick($event)" id="AverageDailyRainFall">AverageDailyRainFall</button>
    </div>
    <div class="row">
        <button mat-raised-button (click)="onClick($event)" id="AverageMinimumTemperature">AverageMinimumTemperature</button>
    </div>
    <div class="row">
        <button mat-raised-button (click)="onClick($event)" id="AbsoluteMaximumTemperature">AbsoluteMaximumTemperature</button>
    </div>
</div>

<svg width="100%" height="50%"></svg>